<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net4" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net4" />
</packages>