{
  "extends": "airbnb/base",
  "globals": {
    "Logger": true,
    "Settings": true,
    "Emitter": true,
    "WindowManager": true,
    "PlaybackAPI": true,
    "GPM": true,
    "$": true
  },
  "env": {
    "mocha": true
  }
}
