{% assign docs = site.docs | sort: 'index' %}

<div class="collection">
  <div class="collection-header"><h5 style="margin-left: 18px">User</h5></div>
  {% for doc in docs | sort: 'index' %}
    {% if doc.target == 'User' %}
      <a href="{{ doc.url }}" class="collection-item{% if page.url == doc.url %} active{% endif %}">{{ doc.title }}</a>
    {% endif %}
  {% endfor %}
  <div class="collection-header"><h5 style="margin-left: 18px">Developer</h5></div>
  {% for doc in docs | sort: 'index' %}
    {% if doc.target == 'Dev' %}
      <a href="{{ doc.url }}" class="collection-item{% if page.url == doc.url %} active{% endif %}">{{ doc.title }}</a>
      {% if doc.title == 'WebSocket API' and page.url contains doc.url  %}
        {% for channel in site.channels %}
        <a href="{{ channel.url }}" class="collection-item{% if page.url contains channel.url %} active{% endif %}">
          <i class="material-icons" style="line-height: 0.4; position: relative; top: 5px;">keyboard_arrow_right</i>
          {{ channel.title }}
        </a>
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
