<!-- Modal Structure -->
<div id="downloadModal" class="modal">
  <div class="modal-content">
    <h4>Download Latest Release of {{ site.title }}</h4>
    <p>There are some choices here, please choose your Operating System.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" id="triggerLinux" class="modal-action modal-close waves-effect waves-green btn-flat">Linux</a>
    <a href="#!" id="downloadMac" class="modal-action modal-close waves-effect waves-green btn-flat">Mac OS X</a>
    <a href="#!" id="downloadWin" class="modal-action modal-close waves-effect waves-green btn-flat">Windows</a>
  </div>
</div>

<div id="downloadLinuxModal" class="modal">
  <div class="modal-content">
    <h4>Please select your flavor of Linux</h4>
    <p>If you are not sure check if your flavor supports installing `.deb` files.  If so, go with Debian, otherwise go with Fedora.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" id="downloadDeb32" class="modal-action modal-close waves-effect waves-green btn-flat">Debian 32-bit</a>
    <a href="#!" id="downloadDeb64" class="modal-action modal-close waves-effect waves-green btn-flat">Debian 64-bit</a>
    <a href="#!" id="downloadFed32" class="modal-action modal-close waves-effect waves-green btn-flat">Fedora 32-bit</a>
    <a href="#!" id="downloadFed64" class="modal-action modal-close waves-effect waves-green btn-flat">Fedora 64-bit</a>
  </div>
</div>
