<nav class="blue-grey darken-3" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo blue-grey-text text-lighten-5">{{ site.shorttitle }}</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ site.author.homepage }}" class="blue-grey-text text-lighten-5" target="_blank">About the Author</a></li>
      <li><a href="javascript:void(0)" class="blue-grey-text text-lighten-5" dl-latest>...</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav blue-grey darken-3">
      <li><a href="#" class="blue-grey-text text-lighten-5" dl-latest>...</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
