/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  width: 100%;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;

  .material-icons {
    font-size: inherit;
  }
}

.slider .slides {
  position: relative;

  li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.6;
    z-index: 4;
  }

  img {
    opacity: 0.8;
    filter: blur(1px) grayscale(60%);
    -webkit-filter: blur(1px) grayscale(60%);
    -moz-filter: blur(1px) grayscale(60%);
    -ms-filter: blur(1px) grayscale(60%);
    -o-filter: blur(1px) grayscale(60%);
  }

  .caption {
    z-index: 6;
  }
}

footer.page-footer {
  margin: 0;
}

.badge.new.open::after {
  content: " Open";
}

ul.feat-list,
ul.feat-list li {
  list-style-type: circle !important;
}

.store-image {
  width: 80%;
  max-width: 350px;
}

.docs {
  ul li {
    list-style-type: disc;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .store-image {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #index-banner {
    height: 400px;
  }
}

@media (max-width: 590px) {
  #index-banner {
    height: 500px;
  }
}

@media (max-width: 450px) {
  #index-banner {
    height: calc(100vh - 56px);
  }

  #index-banner > .section {
    top: 50%;
    margin-top: -250px;
  }
}
