<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="GPMD_BaseUI">
      
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="TitleFont" FaceName="Tahoma" Size="10" Bold="yes" Red="0" Green="0" Blue="0" />
      <TextStyle Id="WelcomeDesFont" FaceName="Tahoma" Size="8" Bold="no" Red="0" Green="0" Blue="0" />
      <TextStyle Id="BlackFont" FaceName="Tahoma" Size="10" Bold="yes" />
      <TextStyle Id="ErrorFont" FaceName="Tahoma" Size="8" Red="255" Green="0" Blue="0"  Bold="yes"/>

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="GPMD_DependenciesDlg" />
      <DialogRef Id="GPMD_InstallDirDlg" />
      <DialogRef Id="GPMD_ExitDlg" />
      <DialogRef Id="GPMD_LicenseAgreementDlg" />
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse"/>
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="GPMD_ExitDlg" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="GPMD_DependenciesDlg">NOT Installed AND NOT WIX_UPGRADE_DETECTED AND NOT WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">NOT Installed AND NOT WIX_UPGRADE_DETECTED AND WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED = 1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">NOT Installed AND WIX_UPGRADE_DETECTED</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="GPMD_LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="GPMD_LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="GPMD_InstallDirDlg">LicenseAccepted = "1"</Publish>
      
      <Publish Dialog="GPMD_InstallDirDlg" Control="Back" Event="NewDialog" Value="GPMD_LicenseAgreementDlg">1</Publish>
      <Publish Dialog="GPMD_InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="GPMD_InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="GPMD_InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="GPMD_InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="GPMD_InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="GPMD_InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="GPMD_InstallDirDlg" Order="1">1</Publish>      

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>