<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="GPMD_DependenciesDlg" Width="374" Height="266">
                <Control Id="Finish" Type="PushButton" X="230" Y="243" Width="66" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />

                <Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
                <Control Id="Title" Type="Text" X="145" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="{\TitleFont}!(loc.DependencyDlgTitle)" />
                <Control Id="NetFrameworkPrereq" Type="Text" X="145" Y="70" Width="220" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.NetFrameworkPrereq)" />
                <Control Id="NetFrameworkLink" Type="Hyperlink" X="145" Y="90" Height="10" Width="220">
                    <Text><![CDATA[<a href="https://www.microsoft.com/en-us/download/details.aspx?id=17851">Click to Download</a>]]></Text>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>