<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="GPMD_InstallDirDlg" Width="374" Height="266">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="374" Height="266" TabSkip="no" Text="[WixUIDialogBmp]" />
        <Control Id="Next" Type="PushButton" X="230" Y="243" Width="66" Height="17" Default="yes" Text="!(loc.btnNext)" />
        <Control Id="Back" Type="PushButton" X="164" Y="243" Width="66" Height="17" Text="!(loc.btnBack)" />
        <Control Id="Cancel" Type="PushButton" X="301" Y="243" Width="66" Height="17" Cancel="yes" Text="!(loc.btnCancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="7" Y="19" Width="186" Height="25" Transparent="yes" NoPrefix="yes" Text="{\WelcomeDesFont}!(loc.ClickNext)" />
        <Control Id="Title" Type="Text" X="7" Y="2" Width="190" Height="17" Transparent="yes" NoPrefix="yes" Text="{\TitleFont}!(loc.DesFolder)" />
        
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />

        <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes" Text="!(loc.InstallDirDlgFolderLabel)" />
        <Control Id="Folder" Type="PathEdit" X="20" Y="90" Width="320" Height="18" Property="WIXUI_INSTALLDIR" Indirect="yes" />
        <Control Id="ChangeFolder" Type="PushButton" X="20" Y="122" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>