<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Google_Play_Music.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
    <userSettings>
        <Google_Play_Music.Properties.Settings>
            <setting name="MaxiSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MaxiPoint" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MiniSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="MiniPoint" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="CustomTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomColor" serializeAs="String">
                <value>30, 215, 96</value>
            </setting>
            <setting name="DesktopNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoverControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFMUsername" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="LastFMPassword" serializeAs="String">
                <value>1234567</value>
            </setting>
            <setting name="MaxiZoomLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSystemColor" serializeAs="String">
                <value>False</value>
            </setting>
        </Google_Play_Music.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
