<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2272.32" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2272.32" targetFramework="net452" />
  <package id="CefSharp.Common" version="41.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="41.0.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net4" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net4" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net4" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net4" />
</packages>