<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AD.System.IO.Compression.dll" version="4.0.0" targetFramework="net4" />
  <package id="AD.System.IO.Compression.FileSystem.dll" version="4.0.0" targetFramework="net4" />
  <package id="AD.System.Web.Helpers.dll" version="2.0.0" targetFramework="net4" />
  <package id="cef.redist.x64" version="3.2454.1344" targetFramework="net4" />
  <package id="cef.redist.x86" version="3.2454.1344" targetFramework="net4" />
  <package id="CefSharp.Common" version="45.0.0" targetFramework="net4" />
  <package id="CefSharp.WinForms" version="45.0.0" targetFramework="net4" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net4" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net4" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net4" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net4" />
  <package id="MouseKeyHook" version="5.3.0" targetFramework="net4" />
  <package id="Ncapsulate.Grunt.Shadow" version="0.4.5.3" targetFramework="net4" developmentDependency="true" />
  <package id="Ncapsulate.Node.Shadow" version="5.3.0" targetFramework="net4" developmentDependency="true" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net4" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net4" />
</packages>