---
layout: docs
---

<i>{{ page.short }}</i><br /><br />

{% unless page.custom %}
Data recieved in the <code class="highlighter-rouge">{{ page.channel }}</code> channel will have a payload in the format

<br />

<b>Channel Payload</b>

{% if page.payloadType == 'object' %}
<pre><code class="language-javascript">
"payload": {
{% for param in page.payload %}  {% if param.type == 'array' %}"{{ param.key }}": [
    {
    {% for subParam in param.subPayload %}  "{{ subParam.key }}": {{ subParam.type }}{% if forloop.rindex0 != 0 %},{% endif %} {% if subParam.comment %}// {{ subParam.comment }}{% endif %}
    {% endfor %}}
  ]{% if forloop.rindex0 != 0 %},{% endif %}  {% else %}"{{ param.key }}": {{ param.type }}{% if forloop.rindex0 != 0 %},{% endif %} {% if param.comment %}// {{ param.comment }}{% endif %}{% endif %}
{% endfor %}}

</code></pre>
{% elsif page.payloadType == 'single' %}
<pre><code class="language-javascript">
"payload": {{ page.payload.type }}, {% if page.payload.comment %}// {{ page.payload.comment }}{% endif %}

</code></pre>
{% elsif page.payloadType == 'array' %}
<pre><code class="language-javascript">
"payload": [
  {  {% for param in page.payload %}
    {% if param.type == 'array' %}"{{ param.key }}": [
      {
      {% for subParam in param.subPayload %}  "{{ subParam.key }}": {{ subParam.type }}{% if forloop.rindex0 != 0 %},{% endif %} {% if subParam.comment %}// {{ subParam.comment }}{% endif %}
      {% endfor %}}
    ]  {% else %}"{{ param.key }}": {{ param.type }}{% if forloop.rindex0 != 0 %},{% endif %} {% if param.comment %}// {{ param.comment }}{% endif %}{% endif %}{% endfor %}
  }
]
</code></pre>
{% endif %}

<p>{{ page.info }}</p>
{% endunless %}
{% if page.custom %}
{{ content }}
{% endif %}
