<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="blue-grey lighten-5">
  {% include menu.html %}

  <div class="row">
    <nav class="col s12 blue-grey darken-1">
      <div class="nav-wrapper blue-grey darken-1">
        <div class="col s12">
          <a href="{{ site.baseurl }}/docs/" class="breadcrumb">Docs</a>
          {% if page.layout == 'api-channel' %}
          <a href="{{ site.baseurl }}/docs/WebSocket-API" class="breadcrumb">WebSocket API</a>
          {% endif %}
          {% unless page.isDoc %}
          <a href="{{ site.baseurl }}/docs/{{ page.title }}" class="breadcrumb">{{ page.title }}</a>
          {% endunless %}
        </div>
      </div>
    </nav>
    <div class="col m3 s12">
      {% include docs-menu.html %}
    </div>
    <div class="col m9 s12">
      <h2>Documentation</h2>
      {% if page.title != '' %}
        {% if page.layout == 'api-channel' %}
          <h4>WebSocket API - {{ page.title }}</h4>
        {% else %}
          <h4>{{ page.title }}</h4>
        {% endif %}
      {% endif %}
      <div class="docs">
      {{ content }}
    </div>
    </div>
  </div>

  {% include footer.html %}

  {% include download-modals.html %}

  <!-- Generated Vars -->
  <script>
  {% assign downloadCount = 0 %}
  {% for release in site.github.releases %}
    {% for asset in release.assets %}
      {% if asset.name != 'RELEASES' %}
        {% assign downloadCount =  downloadCount | plus: asset.download_count %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  window.initialDownloadCount = {{ downloadCount }};
  </script>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js" defer></script>

  </body>
</html>
