[Desktop Entry]
Name=Google Play Music Desktop Player
Comment=An electron wrapper for Google Play Music
GenericName=Google Play Music Desktop Player
Exec=google-play-music-desktop-player %U
Icon=$SNAP/meta/gui/gpmdp.png
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;
