<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include Common.wxi ?>

    <Product Id="*"
             Name="Google Play Music Desktop Player"
             Language="1033"
             Version="2.0.2"
             Manufacturer="MarshallOfSound"
             UpgradeCode="2f8492cc-221c-4815-8e50-891e43989b7f" >

        <Package Id="*"
                 InstallerVersion="500"
                 Compressed="yes"
                 InstallScope="perMachine"
                 Platform="$(var.Platform)"
                 AdminImage="yes" />
        <MediaTemplate EmbedCab="yes" CompressionLevel="mszip" />
        <MajorUpgrade
          Schedule="afterInstallInitialize" AllowDowngrades="no" 
          DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        
        <!-- ====== Product Prerequisites ====== -->
        <!-- Required on both 32 and 64 bit machines -->
        <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED"/>
        <Property Id="VC2012X64">
            <RegistrySearch Id="VC2012x64Key" Key="SOFTWARE\Classes\Installer\Dependencies\{ca67548a-5ebe-413a-b50c-4b9ceb6d66c6}" Name="Installed" Root="HKLM" Type="raw" Win64="no" />
        </Property>

        <Property Id="VC2012X86">
            <RegistrySearch Id="VC2012x86Key" Key="SOFTWARE\Classes\Installer\Dependencies\{33d1fd90-4274-48a1-9bc1-97e33d9c2d6f}" Name="Installed" Root="HKLM" Type="raw" Win64="no" />
        </Property>

        <!-- This property sets the app icon for Add/Remove Programs -->
        <Property Id="ARPPRODUCTICON" Value="AppIcon" />
        <Icon Id="AppIcon" SourceFile="..\Google Play Music\Resources\Icons\Icon1.ico"/>

        <!--If setup is built using x86 then it will not installed on x64-->
        <?if $(var.Platform)=x64 ?>
            <Condition Message="Setup can not be installed on x64 machine.">
                <![CDATA[Installed OR VersionNT64]]>
            </Condition>
        <?endif?>

        <!-- Google Play Music Solution Features -->
        <Feature Id="Core" Title="Google Play Music">
            <ComponentGroupRef Id="Google_Play_Music_Core"/>
            <ComponentGroupRef Id="Locales"/>
            <ComponentGroupRef Id="Dependencies"/>
            <ComponentGroupRef Id="Resources"/>
        </Feature>

        <UI>
          <UIRef Id="GPMD_BaseUI"/>
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER$(var.Suffix)" />
        </UI>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <!-- 32 bit directory -->
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="GPMDP">
                    <Directory Id="locales" Name="locales" />
                    <Directory Id="resources" Name="Resources" />
                </Directory>
            </Directory>

            <!-- 64 bit directory -->
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER_X64" Name="GPMDP">
                    <Directory Id="locales_X64" Name="locales" />
                    <Directory Id="resources_X64" Name="Resources" />
                </Directory>
            </Directory>

            <!-- Start Menu Folder -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="Google_Play_Music" Name="Google Play Music Desktop Player">
                </Directory>
            </Directory>

            <!-- Old start menu shortcut folder -->
            <Directory Id="AppDataFolder">
              <Directory Id="MicrosoftAppData" Name="Microsoft">
                <Directory Id="WindowsAppData" Name="Windows">
                  <Directory Id="StartMenuAppData" Name="Start Menu">
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
        </Directory>
    </Fragment>
</Wix>